@charset "UTF-8";
@import "mixins";
/* CSS Document */

body,html {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#f3f3f3;
	font-family:arial, sans-serif;
	background:#1A5F88;
}
body{
	/*background: url('../images/bottom_bg.jpg') no-repeat center top #1A5F88;*/
}
h1,h2,h3,h4,p {
	margin:0;
	padding:0;
}

p {
	margin:5px 0;
	font-size:90%;
}

.clear {
	clear:both;
}

span {
	.red {
		color:#900;
	}
	.green {
		color:#00ff00;
	}
	.mini {
		font-size: 10px;
	}
}



#nametaken {
	position:relative;
	width:250px;
	height:0px;

	span {
		&.green {
			position:absolute;
			top:-8px;
			left:65px;
			height:0;
			width:0;
			line-height:0;
			color:#00ff00;
		}
		&.red {
			position:absolute;
			top:-8px;
			left:65px;
			height:0;
			width:0;
			line-height:0;
			color:#900;
		}
		&.mini {
			position: absolute;
			top: -36px;
			left: -170px;
			font-size: 10px;
			width: 250px;
			color:#900;
		}
	}
}
	
a {
	color:#666;

	&:visited {
		color:#666;
		text-shadow: 0 1px 1px #fff;
	}
}


hr {
	background:#666;
}

/*=============*/

#container {
	margin:0 0 0px 0;
	padding:0;
	overflow: auto;

	/*background-color:#f3f3f3;*/
	/*background:url('../images/container_bg.jpg')repeat-x;*/

}

/*============ TOP ===============*/
#top {
	height:40px;
	background:url(../images/top_bg.jpg) repeat-x;
	@include box-shadow(0 2px 3px rgba(0, 0, 0, 0.15));

	form {
		display:block;
		margin:20px 0 0 0px;
		height:36px;
		width:330px;
		float:right;

		input {
			color:#999;
		}
	}
}
	
		

#top-container {
	width:1000px;
	margin:0 auto;
}
#logomenu {
	position: relative;
	width:1000px;
	height:40px;
	margin:0 auto 0 auto;

	h1 {
		float:left;
		margin:0 600px 0 0px;
		padding:0;

		a {
			background:url(../images/logo.png) no-repeat;
			text-indent:-9999px;
			height:39px;
			width:159px;
			float:left;
		}
	}
}


/*---------- TAB -------------*/
.tab {
	float:left;
	margin:0 0 0 0px;

	p {
		margin:0;
	}
	a {
		display:block;
		height:10px;
		width:100px;
		text-decoration:none;
		text-align:center;
		font-family: Arial, sans-serif;
		color:#eee;
		border-radius:15px;
		background-color:#1A5F88;

		padding:6px 0 15px 0px;
		margin:4px 0 0px 0;
		@include box-shadow(0 1px 0 #42A5DE, 0 1px 2px rgba(0,0,0,0.25) inset);
	
		&:hover {
			display:block;
			color:#ccc;
		}
	}
}


.tab2 {
	float:left;
	margin:0 0 0 0px;

	a {
		display:block;
		height:20px;
		width:100px;
		text-decoration:none;
		text-align:center;
		font-family: Arial, sans-serif;
		color:#777;
		background-color:#6CF;
		padding:10px 0 10px 0px;
		margin:14px 0 0px 0;
		border:#BBB thin solid;
		@include border-top-radius(10px);
		@include gradient(#e6e6e6, #f2f2f2, #e6e6e6);

		&:hover {
			display:block;
			color:#555;

			@include gradient(#f2f2f2, #e6e6e6, #f2f2f2);

		}
	}
}


/*============ LEFT ===============*/
#left {
	clear:left;
	width:200px;
	background:#262626;
	float:left;
	padding-bottom:0px;
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.5));

	img {
		margin:40px 0 20px 20px;
		float:left;
		@include box-shadow(0 0px 4px rgba(0,0,0,0.75));
	}
	p.leftusername {
		float:left;
		font-family: Arial, sans-serif;
		font-size:12px;
		text-decoration:none;
		margin:40px 0 0 5px;
		color:#ccc;
	}

	.logoutbtn {
		display:block;
		height:20px;
		width:80px;
		float:left;
		clear:both;
		margin:10px 0 10px 20px;
		padding:4px 0 0 0;
		color:#fff;
		font-family: Arial, sans-serif;
		font-size:14px;
		text-decoration:none;
		text-align:center;

		background:#666;
		@include border-radius(15px);

	}
	a:hover.logoutbtn {
		background:#333;
	}

	hr {
		clear:both;
		margin:0px 8px 0 8px;
	}

	.leftbuttons {
		margin:0;

		a {
			display:block;
			width:185px;
			height:25px;
			padding: 15px 0 5px 15px;
			margin:0px 0 0 0;
			color:#ccc;
			font-family: arial, sans-serif;
			font-size:14px;
			text-decoration:none;
			border-bottom: 1px solid #222222;
		    border-top: 1px solid #333333;
			@include gradient(#292929, #252525, #292929);

			&:hover {
				color:#fff;
				font-family: arial, sans-serif;
				font-size:14px;
				text-decoration:none;
				background:#191919;
			}
		}

		&.profile span,
		&.createpost span,
		&.myposts span,
		&.logout span {
			height:25px;
			width:25px;
			margin-right: 10px;
			vertical-align: -12px;
			display: inline-block;
		}


		&.profile span {
			background: url("../images/icons.png") no-repeat scroll -6px -10px transparent;
		}
		&.createpost span {
			background: url("../images/icons.png") no-repeat scroll -6px -60px transparent;
		}
		&.myposts span {
			background: url("../images/icons.png") no-repeat scroll -6px -104px transparent;
		}
		&.logout span {
			background: url("../images/icons.png") no-repeat scroll -6px -150px transparent;
		}

	}
}



/*====================== RIGHT =======================*/
#right {
	width:760px;
	padding:0 20px 20px;
	margin:0 0 0 0px;
	float:left;
	/*background-color:#d1d1d1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/

	.right-content {
		background-color:#d1d1d1;
		padding:10px;
		@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
		@include border-radius(0 0 5px 5px);
	}

	h2 {
		display:block;
		width:550px;
		margin:70px auto 60px auto;
		font-family: 'Brawler', arial, serif;
		font-size:45px;
		color:#6b6b6b;
		text-shadow: 0 1px 1px #fff;
	}

	hr {
		clear:both;
		border-bottom: 1px solid #EEEEEE;
	}

}

body.posts #right {
	background:none;
	box-shadow:none;
}

h3.sectiontitle {
	font-family: arial, sans-serif;
	font-size:18px;
	color:#6b6b6b;
	margin:0px 0 0px 0;
	float:left;
	text-shadow: 0 1px 1px #FFFFFF;
}
p.editpost {
	color:#888;
	font-family: Arial, sans-serif;
	font-size:12px;
	margin:0 0 0 20px;
}

#postcomment {
	margin:20px 0 0 0;
	padding: 10px 20px;
	background: none repeat scroll 0 0 #F3F3F3;
    @include border-radius(5px);
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.5));

    label {
    	&.inputtitle,
		&.inputmessage {
			//margin:20px 0 0 0;
		}
    }
    
	input.inputtitle {
		width:710px;
		padding:10px 5px;
		margin: 5px 0 20px;
		border-radius:3px;
		font-size:14px;
		border: 1px solid #cccccc;
		@include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15));
	}

	textarea.inputmessage {
		width:710px;
		height:200px;
		padding:5px 5px;
		margin:5px 0 20px;
		font-size:12px;
		border:1px solid #999;

		@include box-shadow(inset 0px 1px 1px 0px #6e6e6e);
		@include border-radius(5px);
	}
}

#sortby {
	float: right;
	width: 280px;
	margin: 0 0 0 0px;

	p {
		float:left;
		font-family:arial, sans-serif;
		text-shadow: 0 1px 0 #FFFFFF;
		margin:5px 0 0;
	}
}



/*---------MY PROFILE-----------*/
#myprofile {
	margin:20px 0 0 0;
	padding:20px;
	background-color:#f3f3f3;
	overflow:auto;
	@include border-radius(5px);

	img {
		float:left;
		margin: 0 20px 0 0;
		@include box-shadow(0 1px 2px #999);
	}

	.userinfo {
		float:left;
		width:610px;
	}

	p {
		margin:0 0 10px 0px;
		font-family:Arial, sans-serif;
		font-size:14px;
		font-weight:normal;
		color:#666;
	}

	label {
		margin: 10px 0 0;
	}

	#update-profile {
		p{
			font-size: 12px;
    		margin: 10px 0 0;
		}

		.profile {
			font-size:16px;
			font-weight:bold;
			margin: 30px 0 10px;
		}
	}
	#update-gravatar {
		margin: 20px 0px 0px 0px;
	}

	#fname,
	#lname,
	#profileinfo {
		width:100%;
	}

	#profileinfo {
		min-height:100px;
		padding: 10px 2px 2px;
	}

	.user-image {
		font-size:16px;
		font-weight:bold;
		margin: 30px 0 10px;
	}
}


/*==================== BOTTOM =========================*/
#bottom {
	width:1000px;
	margin:0 auto 30px auto;
	/*min-height:600px;*/

	h2 {
		display:block;
		margin:20px auto 20px auto;
		font-family: arial, serif;
		font-size:35px;
		color:#333;
		text-align:center;
		text-shadow: 0 1px 1px #fff;
	}
}

#home-banner {
	font-family: arial, serif;
	position:relative;
	margin:100px 20px 0;
	width:590px;
	float:left;
	@include box-shadow(0 4px 5px rgba(0, 0, 0, 0.15));

	h2.welcome {
		position:absolute;
		top:150px;
		left:20px;
		text-align:left;
		display:block;
		width:300px;
		margin:0px auto 0px auto;
		font-size:25px;
		color:#fff;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	}
	p.welcome {
		position:absolute;
		top:180px;
		left:20px;
		color:#fff;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	}
	img {
		border:7px solid #fff;
	}
}

#signupfront {
	width:340px;
	float:left;
	margin:100px 0 0;
	background:#fff;
	border:1px solid #eee;
	@include border-radius(5px);
	@include box-shadow(0 1px 3px rgba(0,0,0,.25));
	@include gradient(#f9f9f9, #e6e6e6, #f9f9f9);

	p,
	h3 {
		float:right;
		clear:both;
		margin:5px;
		font-size:12px;
	}

	h3 {
		font-family: arial, sans-serif;
		font-size:16px;
		color:#6b6b6b;
		margin:0px 0 15px 0;
		float:none;
		text-align:center;
		text-shadow:0 1px 0px #fff;

		span {
			color:#333;
		}
	}

	p {
		.userinput {
			padding:10px 2px;
			font-size:14px;
			width:250px;
			border: 1px solid #cccccc;
			@include border-radius(3px);
			@include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15));
		}
		&.signup {
			float: none;
		    margin: 0 auto;
		    width: 180px;
		}

		a {
			display:block;
			width:180px;
			margin:20px 0;
			padding:8px 0;
			color:#333;
			background:#53c2f2;
			outline:none;
			font-size:16px;
			font-family:arial, sans-serif;
			text-align:center;
			text-decoration:none;
			border:1px solid #9f9f9f;

			text-shadow:0 1px 0 #eee;
			@include box-shadow(0 1px 0 rgba(255,255,255,0.5));
			@include border-radius(5px);
			@include gradient(#fbf849, #f7a923, #f7a923);

			&:hover {
				color:#000;
				@include gradient(#f7a923, #fadd4b, #fadd4b);
			}
		}
	} 
	

	hr {
		clear:both;
		margin: 5px 10px;
	}
}

		
		

#signup {
	position:relative;
	display:block;
	width:500px;
	margin:50px auto 0 auto;
	padding:0px 0 10px 0;
	background:#fff;
	@include border-radius(5px);
	@include box-shadow(0 1px 3px rgba(0,0,0,.25));
	@include gradient(#f9f9f9 ,#e6e6e6, #f9f9f9);

	.signup-banner {
		background:#35a0cd;
		padding:20px 80px;
		text-align:center;
		@include border-radius(5px 5px 0 0);

		h2 {
			margin:0px 0;
		}
	}

	form {
		margin: 20px 0 0 100px;
	}

	p {
		color:#333;
		font-family:arial;
		margin:5px 0 20px 0;

		&.note {
			font-size:12px;
		}
		&.success {
			text-align:center;
			margin:5px auto 20px;
			padding:10px;
			width:80%;
			background: rgba(39,197,61, 0.5);
		}
		&.error {
			text-align:center;
			margin:5px auto 20px;
			padding:10px;
			width:80%;
			background: rgba(198,30,38, 0.5);
		}
		&.normal {
			text-align:center;
			margin:5px auto 20px;
			padding:10px;
			width:80%;
			background: rgba(53,160,205, 0.5);
		}
	}

	h3 {
		margin: 0 0 0 100px;
	}

	.signuptext {
		width:300px;
	}

	label {
		clear: both;
	    color: red;
	    float: left;
	    font-size: 11px;
	    position: relative;
	    left: 0px;
	    top: -54px;
	    width: 300px;
	    text-align:right;

	    &[for="new_email"] {
			left:0px;
			text-align:right;
		}
	}
}

#nametaken {
	position:absolute;
	top:140px;
	left:360px;
	font-size:36px;
}

body.registration input {
	margin:0 0 10px;
}


/* ------- postblog section ------- */
#XP {
	position: relative;
	background: #ccc;
	padding:10px;
	@include border-bottom-radius(5px);
	.userLvl {
		padding: 0 10px;
		position:absolute;
		left:0;
		top:0;
		background: #aaa;
		@include border-radius(20px);
	}
	.xpBar {
		width: 97%;
		margin: 0 0 0 3%;
		background: #fff;
		overflow: hidden;
		@include border-radius(5px);

		p {
			text-align: center;
			margin: 0;
			position: absolute;
			left: 50%;
		}

		.progressXP {
			height: 15px;
			background: #4691FF;
			@include gradient(#5bc4f5, #105bc9);

		}
	}
	
}
.postitem{
	@include box-shadow(0 1px 5px rgba(0,0,0,0.5));
	@include border-radius(5px);
}

.blogtop {
	position:relative;
	height:auto;
	padding: 0 0 0px 0;
	background-color:#666;
	border:#BBB;
	border-bottom:#BBB thin solid;
	@include border-top-radius(5px);
	@include gradient(#f7f7f7, #eeeeee, #f7f7f7);

	img {
		height:40px;
		float:left;
		margin:10px 10px 10px 20px;
	}
}


h3.blogtitle {
	width:700px;
	font-family: arial, serif;
	font-size:18px;
	color:#666;
	margin:20px 0 0 0;
	padding:10px 0 0 20px;
	text-shadow: 0 1px 1px #fff;
}
.username {
	color:#888;
	font-family: Arial, sans-serif;
	font-size:12px;
	padding:0 0 0 20px;
}

.blogbottom {
	background-color:#f3f3f3;
	border-top:#FFF thin solid;
	margin:0px 0 50px 0;
	padding:10px 20px;
	height:100%;
	@include border-bottom-radius(5px);
	/*min-height:100px;*/

	p {
		color:#666;
	}

	img {
		max-width:720px;
		height: auto;
	}
}

.blogmessage {
	padding:0px ;
	color:#555;
}

.counters {
	float:left;
	width:200px;
}

.likes {
	width:150px;

	span {
		background: url("../images/icons.png") no-repeat scroll -53px 0 transparent;
	    display: inline-block;
	    height: 30px;
	    text-indent: -9999px;
	    vertical-align: 8px;
	    width: 30px;
	    cursor:pointer;

	    &.liked {
			background: url("../images/icons.png") no-repeat scroll -53px -96px transparent;
		}
	}
}


.views {
	width:150px;

	span {
		background: url("../images/icons.png") no-repeat scroll -52px -50px transparent;
	    display: inline-block;
	    height: 30px;
	    text-indent: -9999px;
	    vertical-align: 8px;
	    width: 30px;
	}
}

table.mceLayout {
	width:600px;
}

/*============= COMMENT SECTION =============*/


#addcommentp {
	font-family:arial, sans-serif;
	margin:20px 0 0px 0;
}
#addcomment {
	background: none repeat scroll 0 0 #F3F3F3;
    padding: 10px 20px;
    @include border-radius(5px);
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
}
#textareainput {
	width:100%;
	height:100px;
	font-family: arial;
    font-size: 12px;
}

p.logintocomment {
	width:600px;
	font-family:Arial, sans-serif;
	font-size:1.0em;
	color:#333;
	margin:20px 0 20px 0px;
	clear:both;
}

#commentstop {
	margin:50px 0 0 0;
	width:760px;
	border-bottom:#aaa thin solid;
	@include border-top-radius(5px);
	@include gradient(#f9f9f9, #e6e6e6, #f9f9f9);

	h3 {
		font-family: arial, serif;
		color:#666;
		margin: 10px 0 0 20px;
		padding:5px 0;
		text-shadow: 0 1px 1px #fff;
	}
}
	
#commentsarea {
	overflow:auto;
	width:760px;
	margin:0px 0 20px 0;
	background:#f3f3f3;
	border-top:#fff thin solid;

	@include border-bottom-radius(5px);

	.commentpic {
		float:left;
		margin:20px 0 0 20px;

		img {
			@include box-shadow(0 1px 2px #999);
		}
	}

	h4 {
		display:block;
		width:98px;
		color:#555;
		font-size:10px;
		margin:5px 0 0 0;
	}

	img.commentarrow {
		width:15px;
		float:left;
		margin:50px 0 0 30px;
		z-index:1;
	}

	p.comment {
		width:560px;
		min-height:100px;
		float:left;
		margin:-120px 0 20px 160px;
		padding:10px;
		background:#dbdbdb;
		color:#444;
		@include box-shadow(inset -2px 1px 1px #AAA);
		@include border-radius(5px);
	}
}

.load-more {
	margin: 0 0 0 0;
    height:50px;
    width: 760px;
    float:right;
    clear:both;
    text-align:center;
    cursor: pointer;
}


/*==================================== MY WALL ===================*/

#blogtopwall {
	height:80px;
	width:800px;
	background-color:#666;
	border:#BBB;
	border-bottom:#BBB thin solid;
	@include gradient(#f7f7f7, #eeeeee, #f7f7f7);
	@include border-radius(10px);
}
.blogtitlewall {
	font-family: 'Brawler', arial, serif;
	font-size:30px;
	color:#666;
	margin:20px 0 0 0;
	padding:20px 0 0 60px;
	text-shadow: 0 1px 1px #fff;
}




/*---------- BUTTONS ----------*/

.button1 a {
	display:block;
	height:20px;
	width:150px;
	text-decoration:none;
	text-align:center;
	font-family: Arial, sans-serif;
	color:#777;
	background-color:#6CF;
	padding:10px 0 10px 0px;
	margin:20px 0 20px 0;
	border:#BBB thin solid;
	@include border-radius(5px);
	@include gradient(#f2f2f2, #e6e6e6, #f2f2f2);

	&:hover {
		display:block;
		color:#555;
		background-color:#0CF;
		@include gradient(#e6e6e6, #f2f2f2, #e6e6e6);
	}
}
	

.button2 {
	/*padding:10px;*/
	margin-top:10px;
	float:right;

	a {
		display:block;
		text-decoration:none;
		text-align:center;
		font-family: Arial, sans-serif;
		color:#777;
		background-color:#6CF;
		padding:8px;
		float:right;
		margin: 0 0px 0 0;
		border:#BBB thin solid;
		text-shadow: 0 1px 0 #FFFFFF;

		@include border-radius(5px);
		@include gradient(#f2f2f2, #e6e6e6, #f2f2f2);

		&:hover {
			display:block;
			color:#555;
			background-color:#0CF;
			@include gradient(#e6e6e6, #f2f2f2, #e6e6e6);
		}

	}
}


.delete {
	position: absolute;
    right: 0;
    top: 40px;
}

.deletebtn a {
	display:block;
	height:15px;
	width:100px;
	padding:10px 0 10px 0px;
	margin:-20px 20px 0 0;
	text-decoration:none;
	text-align:center;
	font-family: Arial, sans-serif;
	color:#fff;
	background-color:#6CF;
	text-shadow:0 1px 0 #333;
	@include border-radius(5px);
	@include box-shadow(0 1px 0 #fff, 0 -1px 0 #777);
	@include gradient(#d84646, #af0101, #d84646);
	

	&:hover {
		display:block;
		color:#ccc;
		background-color:#0CF;
		@include gradient(#af0101, #d84646, #af0101);
	}
}
	


.sortbtn a {
	display:block;
	height:15px;
	width:100px;
	padding:5px 0 8px 0px;
	margin:-5px 5px 0px 5px;
	text-decoration:none;
	text-align:center;
	font-family: Arial, sans-serif;
	color:#777;
	background-color:#6CF;
	border:#BBB thin solid;
	@include border-radius(5px);
	@include box-shadow(0 0 3px rgba(0,0,0,0.15));
	@include gradient(#f9f9f9, #e6e6e6, #f9f9f9);
	
	&:hover {
		display:block;
		color:#555;
		background-color:#0CF;

		@include gradient(#e6e6e6, #f9f9f9, #e6e6e6);
	}
}
	


.userinput {
	padding:10px 2px;
	border-radius:3px;
	font-size:14px;
	width:250px;
	border: 1px solid #cccccc;
	@include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15));
}

.submitbtn {

	display:block;
	cursor: pointer;
	margin:10px 0px;
	padding:8px 20px;
	color:#333;
	background:#53c2f2;
	outline:none;
	font-size:16px;
	font-family:arial, sans-serif;
	text-align:center;
	text-decoration:none;
	border:1px solid #2394c3;
	text-shadow:0 1px 0 #eee;
	@include box-shadow(0 1px 0 #fff);
	@include border-radius(5px);
	@include gradient(#5abbe5, #359fcd, #5abbe5);

	&:hover {
		@include gradient(#359fcd, #5abbe5, #359fcd);
	}
}

.error-overlay {
	position: fixed;
	height: 100%;
	width:100%;
	top:0;
	left:0;
	background:#333;
	background:rgba(0,0,0,0.75);

	.error-container {
		background: #fff;
		background:rgba(255,255,255,1);
		width:500px;
		padding: 20px;
		margin: 10% auto;
		min-height:200px;
		@include border-radius(4px);

		.btn.cancel,
		.btn.confirm {
			@extend .submitbtn;
		}
	}
}

